* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", "PT sans", sans-serif;
    font-size: 16px;
}

body {
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    color: rgb(42, 42, 42);
    font-weight: bold;
    margin: 44px auto 47px auto;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* base end */

/* Header start */
header {
    display: flex;
    height: 80px;
    background-color: #2a2a2a;
    width: 100vw;
}

.top-nav {
    margin: 0 auto;
    width: 1166px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.top-nav ul {
    display: flex;
    flex-direction: row;
}  
.top-nav li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.333;
    align-self: center;
}
.top-nav li a {
    text-decoration: none;
    color: #ffffff;
}
.top-nav .left li {
    padding-right: 50px;
}

.item-6 {
    padding-left: 11px;  /* li element */
}

.item-7 { 
    padding-left: 50px;  /* li element */
}

.logo {
    width: 35px;
    height: 38px;
    background-image: url(images/logo/logo.svg);
    background-repeat: no-repeat;
    display: block;
}
.logo:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.phone-icon {
    height: 14px;
    width: 14px;
    display: block;
    background-image: url(images/Icons/icon-phone-topnav.svg);
    background-repeat: no-repeat;
    margin-top: 3px;
}

.btn-top {
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.467;
    border-style: solid;
    border-width: 2.1px;
    border-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    height: 38px;
    width: 163px;
    display: block;
    cursor: pointer;
}
.btn-top:hover {
    background-color: #ffffff;
    color: black;
    transition: 0.4s;
}
a.current {
    border-bottom: 2.1px solid rgba(255, 255, 255, 0.9);
    padding-bottom: 1px;
}
/* header end */

/* Reviews start */
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1166px;
    margin: 0 auto;
}
.reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 216px;
    width: 568px;
    background-color: #f4efed;
    color: rgb(42, 42, 42);
    font-size: 16px;
    line-height: 1.375;  
    margin-bottom: 30px; 
}
.top-nav ul.left li.item-2 {
    display: none;
}


.review:nth-child(6) {
    margin-top: -44px;
}
.review:nth-child(7) {
    margin-left: 598px;
    margin-top: -154px;
    margin-bottom: 100px;
}
.height-4 {
    height: 172px;
}
.height-5 {
    height: 304px;
    overflow: hidden;
}
.height-6 {
    height: 194px;
}
.height-7 {
    height: 216px;
}
pre {
    font-size: 16px;
    font-family: "Roboto", "PT sans", sans-serif;
    color: rgb(42, 42, 42);
    line-height: 1.375;
}
.text {
    margin: 36px 40px 25px 40px;  
}
.info {
    display: flex;
    align-items: flex-start;
    margin-left: 40px; 
}
.info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.author-date {
    margin-left: 15px;
}
.author {
    font-weight: bold;
    line-height: 22px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.date {
    font-size: 14px;
    line-height: 1.429;
    color: rgb(42, 42, 42);
    margin: 0 0 4px 0;
}
/* comments end */

/* Footer start */
footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 265px;
    background-color: #2a2a2a;
}

.bot-nav {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    margin: 50px auto 0 auto;
    width: 1166px;
    height: 80px; 
}
  
.bot-nav ul {
    display: flex;
    flex-direction: row;
}

.bot-nav li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.333;
    align-self: center;
}

.bot-nav li a {
    text-decoration: none;
    color: #ffffff;
}

.bot-nav .bot-left li {
    padding-right: 50px;
}

.item-88 {
    padding-left: 11px;  /* li element */ 
}
.item-77 {
    padding-left: 76px;  /* li element */
}
.item-66 {
    padding-left: 10px;
    margin-top: 22px;
}
.item-55 {
    margin-top: -8px;
}

.map-mark {
    height: 19px;
    width: 14px;
    display: block;
    background-image: url(images/Icons/icon-mapmarker.svg);
    background-repeat: no-repeat;
    margin-top: 7px;
}
/* header-footer end */

/* Sprites */
.sprites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    flex-direction: row;
    margin: 0 100px 0 auto;
    position: relative;
    bottom: 10px;
    display: none;
}
.sprites-container ul:last-child {
    margin-right: -30px;
}
.sprites-container ul {
    display: flex;
    flex-direction: row;
}
.sprites-container li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.333;
    align-self: center;
}
.sprites-container li a {
    text-decoration: none;
    color: #ffffff;
}

.footer .contacts a {
    background-image: url(images/icons-sprites/icon-mail.png);
    float: left;
    margin-right: 30px;
    }
.footer .contacts a:hover {
    opacity: 0.4;
    }
.footer .contacts a.email {
    width: 16px;
    height: 13px;
    }
.footer .contacts a.vk {
    width: 22px;
    height: 12px;
    background-position: -22px 0;
    }
.footer .contacts a.fb {
    width: 14px;
    height: 14px;
    background-position: -22px -14px;
    }
.footer .contacts a.insta {
    width: 14px;
    height: 14px;
    background-position: 0 -14px;
    }
/* sprites end */

/* Hr, readme */
hr {  
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    opacity: 0.102;
    height: 1px;
    width: 1166px;
    margin: 0 auto 0 auto;
    margin-top: 41px;
}

.readme-wrapper {
    display: flex;
    margin: 28px auto 0 auto;
}
.readme {
    display: flex;
    flex-direction: row;
}
.readme li{
    list-style-type: none;
}
.readme li:first-child {
    margin-right: 20px;
}
.readme li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 1px;
    text-decoration: none;
}
/* hr, readme end */

/* responsive section */
    @media  screen and (max-width: 1120px) {
        nav.top-nav {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
        }
        /* .top-nav ul.left li.item-1 */
        .top-nav ul.right li.item-7 {
            display: none;
        }

        .reviews {
            display: grid;
            grid-template-columns: 100vw;
            justify-content: center;
            justify-items: center;
        }
        .review:nth-child(6) {
            margin-top: 0;
        }
        .review:nth-child(7) {
            margin-left: 0;
            margin-top:0;
            margin-bottom: 100px;
        }

        footer {
            display: flex;
            flex-direction: column;
            height: 100%;
                }

footer .bot-nav {
    display: flex;
    margin: 50px auto 1.5rem auto;
    max-width: 568px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: -3rem;
}

.bot-nav .bot-left {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}
.bot-nav .bot-left li {
    padding-right: 1rem;
}

.bot-nav .bot-right {
   display: flex;
   flex-direction: row;
   justify-items: center;
   justify-content: flex-end;
   padding-right: 4.7rem;
}
.bot-nav .bot-right .item-88 {
    display: grid;
    grid-template-columns: row;
    margin-right: 1.1rem;
}
.item-88 {
    padding-left: 0;  /* li element */ 
}

.bot-nav ul.bot-left li.item-22  {
display: none;
}
.bot-nav ul.bot-left li.item-11 {
    display: none;
}
.bot-nav ul.bot-left li.item-33 {
    display: flex;
    order: 0;
}
.bot-right .item-55, .item-66, .item-77 {
display: none;
}
.sprites-container {
    margin: 0 auto 0 auto;
    position: relative;
    top: 1.7rem;
    right: 7.4rem;
    display: none;
}
.readme-wrapper {
    display: flex;
    margin: 1rem auto 1rem auto;
}
}
